.product-reviews ul {
  padding: 0;
  margin-left:200px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-reviews li {
  cursor: pointer;
  font-weight: 500;
}

.product-reviews .rates {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-reviews .rates .rate-comment {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-reviews .rates .rate-comment span:nth-of-type(2) {
  color: #ffcd4e;
  font-weight: 500;
}

.rate-comment{
   width:99%;
   height:min-content;
   padding: 30px;
   border: 1px solid #ccc;
   border-radius: 12px;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
   background-color: #fff;
}
.product-reviews{
  margin-left: 90px;
}
